
<p-table [columns]="cols"  styleClass="p-datatable-gridlines"  [value]="products" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <ng-container *ngFor="let col of columns">
            <!--  [pSortableColumnDisabled]="true" method used to show and hide the sorting if needed  -->
            <th [pSortableColumnDisabled]="col.disableSort" [pSortableColumn]="col.header">{{col.header}}
                <ng-container *ngIf="!col.disableSort">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
            </th>
            </ng-container>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
            <!-- Normal Settings -->
            <ng-container *ngIf="col.type=='text'">
                <td>
                    {{rowData[col.field] }}
                </td>
            </ng-container>
            <!-- Action Settings -->
            <ng-container *ngIf="col.type=='action'">
                <td>
                    <ng-container *ngFor="let option of col.options">          
                        <span class="pad">      
                            <i class="pi" [ngClass]="option?('pi-'+option):''"></i>
                        </span>
                    </ng-container>
                </td>
            </ng-container>
            <!-- DropDown Settings -->
            <ng-container *ngIf="col.type=='dropdown'">
                <td>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
                </td>
            </ng-container>
        </ng-container>
      </tr>
  </ng-template>
</p-table>

